body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.container {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.img-wrapper {
  display: block;
  width: 2560px;
}

.img-wrapper img {
  min-width: 100%;
}

.texto {
  position: absolute;
  top: 0;
  font-family: "Gilroy","Verdana", "Geneva", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 150px;
  letter-spacing: -0.02em;
  color: #FFFFFF
}

.texto p:first-child::before {
  content:url('../img/seta.png');
  clear: both;
}

.texto p {
  margin: 0;
}

.form-wrapper {
  background-color: #F3F3F3;
  flex-grow: 1;
}

.form-wrapper form {
  padding: 50px;
}

.form-wrapper button,input:not([type=checkbox]), textarea {
  width: 100%;
  margin:5px;
  border: none;
  padding-left: 20px;
  font-size: 1.75rem;
  border-radius: 12px;
}

.form-wrapper input:not([type=checkbox]) {
  height: 60px;
}

.form-wrapper textarea {
  height: 150px;
}

.form-wrapper button {
  height: 60px;
  border: black 2px solid;
}

.form-img {
  border-radius: 8px 0px 0px 8px;
}

.formulario {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0; 
  display: flex;
  flex-grow: 1;
}